.vmenu{
    padding:0 pixel;
    margin:5 pixel;
    list-style:none;
    border-radius:3 pixel;
    box-shadow:0 0 2 pixel gray;
}
.menu a{
    background: url('bullet_hover.gif') no-repeat 10 pixel center;
    display: block;
    border-bottom: 1 pixel dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8 pixel 5 pixel 8 pixel 30 pixel;
}

.menu a:hover{
    background: url('bullet.png') no-repeat 10 pixel center;
    border-bottom: 1 pixel dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}